@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #f2f2f2;
  font-family:'PlayfairDisplay-Regular';
}
.list-group-item{
  padding: 5px;
}
.card{
  border-radius: 0;
}
.card-body{
  padding-left: 10px;
  padding-top: 5px;
}
.card-deck .card{
  border: none;
  padding: 5px;
  position: relative;
  margin-top: 20px;
}
.card-deck .card:after{
  content: '';
  height: 58%;
  width: 1px;
  position: absolute;
  right: -15px;
  top: 15px;
  background-color: #bdb2b2;
}
.card-deck .card:nth-child(3):after{
  background-color: transparent;
}
.top-nav .nav-link{
  font-size: .8rem;
  font-weight: 600;
}
.top-nav .nav-link:focus,
.top-nav .nav-link:hover,
.top-nav .nav-link.active{
  background-color: white;
  width: 100%;
  color: green !important;
}

.search-button input {
  width: 65%;
  padding:5px 0px;
	font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border: none;
  outline: none;
  color: black;
}
.search-button input:focus,
.search-button input:hover{
  border: none;
  outline: none;
}
.search-button input::placeholder{
  color:black;
  font-family:'PlayfairDisplay-Regular',FontAwesome, sans-serif;
}
.subscribe-banner{
  background: url(../images/subscription.png) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 18% 0;
}
.highlights{
  position: relative;
}
.highlights-block{
  border-bottom: 1px solid #a1a1a1;
}
.footer p,
.footer a,
.footer .follow-us,
.footer .follow-us h4,
.footer .follow-us span,
.footer .follow-us i,
.footer-copyright p{
  color: #555556;
}
