@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,500i,700|Dosis:400,500,700');
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

/* font-family: 'Dosis', sans-serif;
font-family: 'Barlow', sans-serif; */
strong {
  font-weight: 600;
}
h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-weight: 400;
}
h4 {
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: #0073BB;
}
a:hover {
  color: #39135d;
  text-decoration: none;
}
p {
  margin-bottom: 1.5rem;
}
small {
  line-height: 1;
}
ul {
  padding-left: 0px;
}
hr {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}
button:focus {
  outline: none;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.topic{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #0F3B8F;
}
.title{
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 46px;
  margin-top: -1.5rem;
}

/* MAIN HEADER */
#header{
  background-color: #4A4A4A;
}
.header-contact p{
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
}
.social-icons li {
  float: left;
}
.social-icons a {
  display: inline-block;
  background: #95b6d1;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 18px;
  margin-right: 10px;
  float: left;
  color: #4A4A4A;
}
#navLogo{
  margin-top: 15px;
  margin-bottom: 15px;
}
#navLogo .pri-logo{
  width: 198px;
}
#navLogo .policy-insights-logo{
  /* width: 174px; */
  width: 198px;
}



/* MAIN NAV */
#mainNav{
  background-color: #0073BB;
  padding: 0;
}
#mainNav #navBarMain .nav-item .nav-link{
  text-transform: uppercase;
  color: #FFFFFF;

}
#mainNav #navBarMain .nav-item:active,
#mainNav #navBarMain .nav-item:focus,
#mainNav #navBarMain .nav-item:visited,
#mainNav #navBarMain .nav-item:hover{
  background-color: #0F3B8F;
  padding: 0 5px;
}

/* nav ul {
    float: right;

} */

#navBarMain ul li {
  float: left;
  list-style: none;
  position: relative;
  padding: 0 5px;
}

#navBarMain ul li a {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  padding: 6px;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
}

#navBarMain ul li .drop::after {
  /* content: "\f107";
  font-family: FontAwesome;
  right: 0px;
  position: absolute;
  top: 0px; */
  /* transition: all .3s; */
  /* color: #ffffff;
  font-weight: 500;
  line-height: 40px;
  padding: 10px 0px 5px 4px; */
}

#navBarMain ul li.drop:hover::after {
  /* width: 200%; */
  /* transition: all .3s; */
  /* background-color: #0F3B8F;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 5px 5px 4px; */
}

#navBarMain ul li a:hover {
  color: #535353;
  transition: 400ms;
}


#navBarMain ul ul {
  position: absolute;
  background-color: #0073BB;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;
  -o-transition: all 5s ease;
  -ms-transition: all 5s ease;
  transition: all 5s ease;
  z-index: 999999999;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}

#navBarMain ul li:hover ul {
  max-height: 300px;
}

/* #navBarMain ul ul a:hover {
  background-color: #0073BB;
  color: #FFFFFF;
  transition: 150ms;
} */
#navBarMain ul ul li{
  width: 250px;
}
#navBarMain ul ul li:hover,
#navBarMain ul ul li a:hover,
#navBarMain ul ul li:focus,
#navBarMain ul ul li a:focus{
  background-color: #0F3B8F;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  color: #FFFFFF;
}
#mainNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* #mainNav .navbar-toggler{
  border: 1px solid #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0;
} */



/* HERO BANNER */
.overlay {
  position: absolute;
  width: 100%;
  height: 230px;
  z-index: 2;
  opacity: .9;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #0073BB);
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  right: auto;
  bottom: 20px;
  left: 15%;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}
.caption-text{
  width: 70%;
}
.caption-text h2{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #FFFFFF;
  word-wrap: break-word;
}
#heroBanner .fa{
  background-color: #FFFFFF;
  padding: 7px 20px 10px 20px;
  color: #0073BB;
}



/* WELCOME PRI AND QUICK LINKS */

#welcomePriQuickLinks .read-more{
  background-color: #0073BB;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 20px;
  transition: all 1s;
}
#welcomePriQuickLinks .read-more:hover,
#welcomePriQuickLinks .read-more:focus,
#welcomePriQuickLinks .read-more:active{
  background-color: #0F3B8F;
  color: #FFFFFF;
  transition: all 1s;
}
.welcome-text,
.welcome-message{
  padding-top: 60px;
  padding-bottom: 60px;
}
.welcome-text h4{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #0073BB;
  margin-bottom: 1rem;
}

.welcome-message h4{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #444444;
}
.quick-links{
  border: 1px solid #ddd;
  padding: 13px 39px;
  margin-top: -65px;
  position: absolute;
  z-index: 99999;
  background-color: #FFFFFF;
  box-shadow: 0.2em 0.1em 2em rgba(0, 0, 0, 0.2);
  line-height: 1.8;
}
.quick-links h2{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #0F3B8F;
}
.quick-links ul li{
  list-style: none;
  margin-bottom: .2rem;
}
.quick-links ul li a{
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.quick-links ul li:hover:before{
  content: "\f105";
  font-family: FontAwesome;
  font-weight: 500;
  font-size: 20px;
  margin-right: 2px;
}
.quick-links ul li a .fa-angle-right{
  color: #0F3B8F;
}

/* LATEST PUBLICATIONS */

#latestPublications{
  background-color: #0073BB;
}

#latestPublications .banner-image{
  background-color: #0f3b8f;
  background-image: url(../images/line2@2x.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 670px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0;
}

#latestPublications img.feature-image{
  width: 100%;
  padding: 17px 0;
}
.card-profile {
  width: 20rem;
  background-color: #FFFFFF;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  z-index: 100000;
  position: absolute;
  top: 150px;
  left: 30px;
}
.card-profile .card-img-top {
  border-radius: 0;
}
.card-profile .card-img-profile{
  margin-top: -60px;
  margin-bottom: 15px;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  transition: width 300ms 0s ease, height 300ms 0s ease;
  border: 1px solid #fff;
}
.card-profile .card-title {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.card-profile .card-title small {
  display: block;
  font-size: 16px;
  margin-top: 1rem;
}
.card-profile .card-links {
  margin-bottom: 25px;
}
/* .card-profile .card-body{
  padding: 1rem .8rem;
} */



/* PAST EVENT AND NEWS */
#firstEventAndNews {
  padding-top: 40px;
  background-color: #F8F9FB;
  padding-bottom: 40px;
}
#firstEventAndNews .list-group-item:first-child {
  outline: none;
  border-top: 0;
}
#firstEventAndNews .list-group-item{
  background-color: #F8F9FB;
  padding-left: 0;
}

#firstEventAndNews .media-body .event-details{
  margin-bottom: 0;
  width: 65%;
  font-weight: bold;
}
#firstEventAndNews .sub-title-details{
  margin-bottom: .9rem;
  font-weight: 500;
}
.published-date p{
  margin-bottom: .5rem;
  margin-top: .5rem;
  font-size: 14px;
  font-weight: 500;
}
.slider {
  width: 100%;
  margin: 0 auto;
}


.slick-slide{
  width: 130px;
}
.slick-slide img {
  width: 155px;
  height: 100px;
  margin: 20px 15px;
}

.slick-arrow {
  background-color: #0073BB;
}
.slick-next{
  right: 0;
}
.slick-prev{
  left: 0;
  z-index: 99999;
}

.slick-prev:before, .slick-next:before{
  font-family: FontAwesome;
  color: #ffffff;
  opacity: unset;
  background-color: #0073BB;
}
.slick-prev:before{
  content: "\f104";
}
.slick-next:before{
  content: "\f105";
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  font-family: FontAwesome;
  color: #ffffff;
  opacity: unset;
  background-color: #0073BB;
}


.slick-slide {
  transition: all ease-in-out .3s;
  /* opacity: .2; */
}

.slick-active {
  /* opacity: .5; */
}

.slick-current {
  /* opacity: 1; */
}




/* SPEECH OF THE DAY */
#speechOfTheDay{

}
.speech-background{
  background-color: #0073BB;
  padding-top: 60px;
  padding-bottom: 150px;
}

.speech-section{
  background-color: #FFFFFF;
  min-height: 300px;
  margin-top: -150px;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  padding: 50px 0 50px 0;
}
.testimonial-text{
  font-family: "Barlow", Sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
.testimonial-text h4{
  font-size: 24px;
}
.testimonial-text h4:nth-of-type(1) {
  font-weight: 300;
  color: #444444;
  font-style: italic;
  margin-bottom: 1rem;
}
.testimonial-text h4:nth-of-type(2) {
  font-weight: bold;
  color: #0073BB;
  margin-bottom: .5rem;
}
.testimonial-text p{
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}
.elementor-testimonial-item{
  position: relative;
}
.column-item:before{
  content: "";
  position: absolute;
  left: 0;
  top: 14%;
  -o-transform: translate(0%);
  -moz-transform: translate(0%);
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background-color: #B3BDD1;
  min-height: 100px;
  width: 2px;
  height: 70%;
  border-radius: 5px;
}
/* .dd:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: blue;
  -o-transform: translate(50%);
  -moz-transform: translate(50%);
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  min-height: 50px;
  width: 2px;
  height: 50%;

} */
.column-item:after{
  content: "\f10e";
  display: inline-block;
  font: normal normal normal 35px/1 FontAwesome;
  border: 2px solid #0073BB;
  color: #0073BB;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  top: 40%;
  left: -5%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0 25px #ffffff;
}
/* .dd:after{
  content: "\f10d";
  display: inline-block;
  font: normal normal normal 24px/1 FontAwesome;
  border: 5px solid;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
} */
/* content: "\f10d";
display: inline-block;
font: normal normal normal 24px/1 FontAwesome;
border: 5px solid;
width: 60px;
height: 60px;
text-align: center;
line-height: 50px; */

.speech-img-profile{
  margin-bottom: 10px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  transition: width 300ms 0s ease, height 300ms 0s ease;
  border: 1px solid #ccc;
}
/* .speech-icon{
  max-height: 170px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
} */




.logo-section{
  margin-top: 20px;
  margin-bottom: 10px;
}
.logo-section img{
  width: 60%;
  height: auto;
  margin: 20px auto;
  display: block;
}
.logo-section .slick-prev,
.logo-section .slick-next{
  display: none ;
}


/* FOOTER MENU */
#footerMenu{
  color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
}
.footer-menu{
  background-color: #0F3B8F;
  padding-top: 54px;
  padding-bottom: 35px;
}
#footerMenu h4{
  font-weight: bold;
  font-size: 24px;
}
#footerMenu p{
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
}
#footerMenu p:nth-child(4) {
  width: 18rem;
}
.footer-menu-list ul{
  list-style: none;
}
.footer-menu-list ul li a{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}
.subscribe-form{
  margin-top: 15px;
}
.subscribe-text{
  font-weight: 500;
}
.subscribe-form input[type=submit] {
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: #34CBF7;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;
  transition: all 1s;
}
.subscribe-form input[type=submit]:hover {
  background-color: #FFFFFF;
  color: #34CBF7;
  transition: all .3s;
}
#footerCopyright{
  background-color: #0073BB;
}
#footerCopyright p{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 1.5rem;
  font-weight: bold;
}









.show{
  display: block;
}









/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-contact p{
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
  }
  .social-icons {
    /* float: left;
    position: relative;
    left: 10%;
    top: 0; */
    text-align: center;
    margin: 0 auto;
  }
  .social-icons li{
    float: none;
    display: inline-block;
  }
  #navLogo .pri-logo {
    margin: 0 auto;
  }
  .ml-auto, .mx-auto {
    margin-left: 0!important;
  }
  #navBarMain ul ul{
    background-color: #0F3B8F;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {

}
